<div class="row">
  <div class="col-md-8">
    <h1>Free Quote</h1>
    <br>
    <div class="quote-form">
      <div class="well">
        <%= form_for @contact do |f| %>
        
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :website %>
            <%= f.text_field :website, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :timeline %>
            <%= f.text_field :timeline, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :budget %><br> 
            <%= f.select("budget", ['$500 - $1,000', '$1,000 - $2,500', '$2,500 - $5,000', '$5,000 - $10,000', '$10,000+']) %>
          </div>
            
          <div class="form-group">
            <%= f.label :comments %>
            <%= f.text_area :comments, class: 'form-control' %>
          </div> 
    
            <%= f.submit 'Submit', class: 'btn btn-info' %>
           
          <div class="message">
            <%= render 'layouts/flash_message' %>
          </div>
        
          <h6>* all fields required</h6>
        
        <% end %>
      </div>
    </div>
  </div>
    
  <div class="col-md-4">test</div>


</div>
    
